body{
    background-color: black;
    color: aliceblue;
}

.cabeçalho-imagem {
    width: 20%;
}
 .cabeçalho{
    background-color: blue;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
 }
 .escola-imagem{
    width: 25%;
}
.escola{
    background-image: linear-gradient();
}
.escola{
    background-image: linear-gradient(#424E61, #4EBFE9);
}
.escola{
    background-image: linear-gradient(#424E61, #4EBFE9);
    color: white;
}
.escola{
    background-image: linear-gradient(#424E61, #4EBFE9);
    color: white;
    display: flex;
}
.escola-div-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 24px 0;
}
.escola{
    background-image: linear-gradient(#424E61, #4EBFE9);
    color: white;
    display: flex;
    justify-content: center;
}
.escola{
    background-image: linear-gradient(#424E61,#16CFF8);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.escola{
    background-image: linear-gradient(#424E61,#16CFF8);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
